<div class="container-status">
  <div class="container">
    <h2 class="text-center">Container Status</h2>
    <br />
    <table class="center" cellpadding="5%">
      <tr style="background-color: LightGray">
        <th>SR</th>
        <th>Container</th>
        <th>Max Capacity</th>
        <th>Available</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Tea</td>
        <td>2 kg</td>
        <td>1.89 kg</td>
        <!--Delete line above and comment tags from line below-->
        <!--<td>{{ container.tea }}</td>-->
      </tr>
      <tr>
        <td>2</td>
        <td>Coffee</td>
        <td>2 kg</td>
        <td>2 kg</td>
        <!--Delete line above and comment tags from line below-->
        <!--<td>{{ container.coffee }}</td>-->
      </tr>
      <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>8 kg</td>
        <td>7.91 kg</td>
        <!--Delete line above and comment tags from line below-->
        <!--<td>{{ container.sugar }}</td>-->
      </tr>
      <tr>
        <td>4</td>
        <td>Water</td>
        <td>15 liters</td>
        <td>14.17 liters</td>
        <!--Delete line above and comment tags from line below-->
        <!--<td>{{ container.water }}</td>-->
      </tr>
      <tr>
        <td>5</td>
        <td>Milk</td>
        <td>15 liters</td>
        <td>14.39 liters</td>
        <!--Delete line above and comment tags from line below-->
        <!--<td>{{ container.milk }}</td>-->
      </tr>
    </table>
  </div>
</div>
